<% include ../layout/header.ejs %>

<div class="main">
    <div class="container">
        <div class="content">
            <h1>Настройки пользователя
                <%= user.login %>
            </h1>

        </div>
        <% include ../layout/sidebar.ejs %>
    </div>
</div>


<% include ../layout/footer.ejs %>