.comments{
    display: flex;
    flex-direction: column;
    border: 1px solid $greyColor;
    padding: $freeSpace;
    margin-bottom: $freeSpace;
    background-color: $whiteColor;
    border-radius: $borderRadius;

    h3{
        margin-top: 0;
    }

    form.comment{
        display: flex;
        flex-direction: column;
        max-width: 500px;

        textarea{
            margin-bottom: $freeSpace * 0.8;
        }

        .buttons{
            align-self: flex-end;
            display: flex;

            button{
                margin-left: $freeSpace;
                height: 24px;
                font-size: .9em;
            }
        }
    }
}